<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">
 <bean id="dt" class="java.time.LocalDateTime" factory-method="now" scope="singleton"/>
<bean id="dt1" class="java.time.LocalDateTime" factory-method="now" scope="singleton"/>
 
 <bean id="dt2" class="java.time.LocalDateTime" factory-method="now" scope="prototype"/> 
<!--<bean id="dt3" class="com.nt.ston.Printer" scope="prototype"/>-->
 <!--
<bean id="p1" class="com.nt.ston.Printer" scope="singleton" factory-method="getInstance"/>
<bean id="p2" class="com.nt.ston.Printer" scope="singleton" factory-method="getInstance"/>
                   OR-->
<bean id="p1" class="com.nt.ston.Printer" scope="singleton" />
<bean id="p2" class="com.nt.ston.Printer" scope="singleton" />
 
  
 <context:component-scan base-package="com.nt.sbeans"></context:component-scan>
 
</beans>
